<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link type="text/css" href="/css/estilos.css" rel="stylesheet">
</head>

<body>
<h2 align="center"><font color="#742844"><strong> Fundamentos de Programación - POLILIBRO</strong></font color></h2>
<p align="center">&nbsp;</p>
  <blockquote>
    <blockquote>
      <blockquote>
        <p >Éste libro virtual fue elaborado con la intención de apoyar a los estudiantes en la asignatura de <strong>Fundamentos de Programación</strong>, aquí podrás encontrar material como un temario, un glosario, prácticas y una evaluación pensada para probar tus habilidades en Fundamentos de programación. </p>
        <p >Invitamos a toda la comunidad estundiantil del politécnico y externos a que exploren el contenido. En el menú de la izquierda encontrarás todo el material disponible en esta página.  </p>
      </blockquote>
    </blockquote>
  </blockquote>
  <div class="image"><img src="/css/images/esimezac15.jpg" width="580" height="457"/></div>
</body>
</html>